.block-elem {
  /* вказання режиму відбраження елементу */
  /* влистивість display є у кожного тега і йде за замовченням. Її можно переопределити але не бажано. */
  display: block;

  background-color: aqua;

  font-size: 20px;
  margin: 0 0 10px 0;
}

.wrap {
  text-align: center;
}

.inline-elem {
  /* Для наглядності */
  display: inline;

  background-color: lightgreen;
}

.inline-block-elem {
  display: inline-block;
  width: 20%;
  padding: 20px;
  background-color: brown;
}