/* 
  Селектори, пов'язані з атрибутами
*/

/* 
  селектор який працює для всіх елементів з атрибутом title
*/

[title] {
  background-color: aquamarine;
}

/* 
  Селектор який працює для усіх елементів з атрибутом title з значенням test title
*/

[title="Test title"] {
  font-weight: bold;
  font-size: 24px;
}

/* 
  Селектор який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається зі слова other
*/

[title^="other"] {
  border: 3px solid red;
}

/* 
  Селектор який працює для усіх елементів з атрибутом з атрибутом title зі значенням, всередені якого є слово animal
*/

[title~="animal"] {
  width: 200px;
  height: 200px;
}

/* 
  Комбінатор кома (A, B)
  Одночасно застосовує правило для кількох селекторів, розділених комами
*/

h1, 
h2 {
  text-align: right;
}

/* 
  Комбінатор дитячого елементу (A>B) 
  застосовує правило для селектору B якщо він напряму сидить у елементі з селектором A
*/

article > p {
  color: red;
}

nav > ul > li > a {
  color: yellow;
}

/* 
  Комбінатор елементу - нащадка (A B)
*/

article p {
  font-style: italic;
}

/*  
  Комбінатор прямих сусідів (A + B)
  застосовує правило для селектору B якщо він сидить з селектором А на одному рівні вкладеності
*/

h2 + p {
  padding: 20px;
}

/* 
  Комбінатор всіх сусідів (A ~ B)
  застосовує правило для селектору B якщо він сидить з селектором А на одному рівні вкладеності
*/

h2 ~ p {
  text-decoration: line-through solid black;
}


/* 
  CSS - змінні
*/

html,
:root {

  /* 
    --назва-змінної: значення_css_властивості;
  */

  --text-color: green;
  --big-padding: 40px; 

  /* 
    застосування CSS - змінних
  */
  color: var(--text-color);
}


/* 
  Псевдокласи

  :root = html

*/

.link {
  display: inline-block;
  color: blue;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid black;
  background: lightgreen;
  text-align: center;
  width: 120px;
}

button[class="link"] {
  width: 152px;
}

.link:not(button) {
  font-style: italic;
}