* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Вказування фонового кольору елементу */
body {
  background-color: lightcyan;
}

/* Для всіх силок на сторінці */
a {
  /* 
    Керує відображенням підкреслень та деяких інших декорацій тексту  
  */
  /*
    Визначає стиль ліній
    solid | double | dotted | dashed | wavy
    text-decoration-style: solid; 
  */
  /* text-decoration-line */
  /* text-decoration-color: red; */
  text-decoration: none;
}

a:visited {
  color: black
}

.header_menu_element {
  /* 
    Відображення великих / маленьких літер у тексті
    none | capitalize | uppercase | lowercase
  */
  text-transform: capitalize;
  margin: 0 0 10px 10px;
  list-style-type: none;
}

.header_link {
  padding: 0 10px;
}

/* При наводжені курсором на силку вона буде підкреслюватися завдяки псевдоселектору :hover */
.header_link:hover {
  text-decoration: underline;
}

/*  
  Керування горизонтальним розміщенням тексту
  left | right | center | justify
*/
.blog {
  text-align: center;
  margin: 20px 50px 40px;
}

.blog_title {
  margin: 20px 0 0; /* margin-top 10px*/
}

.blog_text {
  background-color: #fff;
  font-size: 18px;
  font-style: italic;
  text-align: justify;
  margin: 10px 20px;
}

.border {
  /* Рамки для коробок */
  border: 1px solid #000;
  border-radius: 20px;
}


