* {
  box-sizing: border-box;
}

.section {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  margin: 20px auto;
  background-color: aqua;
  padding: 16px;
  transition: transform .3s linear;
}

.section-heading {
  font-size: 32px;
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
}

.translate:hover {
  transform: translate(50px, 100px);
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  border: 5px solid red;
}

.translate-center {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}